<div class="header">
    <img class="logo" src="../../assets/twtflow_logo.png" />
    <button class="tradenow" onclick="location.href='https://cex.io/r/0/up118886422/0/'">Trade now</button>
</div>

<div class="titleholder">
    <div *ngFor="let channel of channels" class="title">
        <p class="name">{{channel.name}}</p>
    </div>
    <div class="title signuptitle">
        
    </div>
</div>

<div class="feedholder">
    <div *ngFor="let channel of channels" class="feed">
        <channel [endpoint]="channel.endpoint"></channel>
    </div>
    <sign-up></sign-up>
</div>
