/TweetFlow.Job/obj
/TweetFlow.Job/bin
/TweetFlow.MemoryStore/bin
/TweetFlow.MemoryStore/obj
/TweetFlow.Model/obj
/TweetFlow.Model/bin
/TweetFlow.Stream/bin
/TweetFlow.Stream/obj
/TweetFlow.StreamService/bin
/TweetFlow.StreamService/obj
/.vs
/TweetFlow.DatabaseModel/obj/Debug/netstandard2.0
/TweetFlow.DatabaseModel/obj/TweetFlow.DatabaseModel.csproj.nuget.g.targets
/TweetFlow.DatabaseModel/obj/TweetFlow.DatabaseModel.csproj.nuget.g.props
/TweetFlow.DatabaseModel/obj/TweetFlow.DatabaseModel.csproj.nuget.cache
/TweetFlow.EF/bin/Debug/netstandard2.0
/TweetFlow.EF/obj
/TweetFlow.DatabaseModel/bin/Debug/netstandard2.0
/TweetFlow.DatabaseModel/obj
/TweetFlow.Providers/bin/Debug/netstandard2.0
/TweetFlow.Providers/obj/Debug/netstandard2.0
/TweetFlow.Providers/obj
/TweetFlow.Services/bin/Debug
/TweetFlow.Services/obj
