/TweetFlow.Job/obj
/TweetFlow.Job/bin
/TweetFlow.MemoryStore/bin
/TweetFlow.MemoryStore/obj
/TweetFlow.Model/obj
/TweetFlow.Model/bin
/TweetFlow.Stream/bin
/TweetFlow.Stream/obj
/TweetFlow.StreamService/bin
/TweetFlow.StreamService/obj
TweetFlow.Portal/appsettings.json
/TweetFlow.DatabaseModel/obj
/TweetFlow.DatabaseModel/bin
/TweetFlow.EF/bin
/TweetFlow.EF/obj
/TweetFlow.Providers/bin
/TweetFlow.Providers/obj
/TweetFlow.Services/bin
/TweetFlow.Services/obj
/.vs
/TweetFlow.Portal/Logs
