/* General */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: #71716F;
    /*-webkit-text-stroke-width: .05px;*/
    /*-webkit-text-stroke-color: white;*/
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    vertical-align: baseline;
    text-align: left;
    line-height: 1.3;
}

html {
    line-height: 1;
    text-align: center;
}

ol, ul {
    list-style: none;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h2 {
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #D8E2E8;
    height: 40px;
    right: 0;
    left: 0;
    position: fixed;
}

    .header .logo {
        max-height: 20px;
        margin-left: 10px;
    }

.feedholder {
    position: absolute;
    top: 84px;
    bottom: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.feed {
    min-width: 350px;
    width: 350px;
    height: 100%;
    bottom: 0;
    background: red;
    display: inline;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fbfbfb;
    border: 1px solid #D8E2E8;
    border-left: 0;
}

.feed::-webkit-scrollbar {
    width: 5px;
}
 
.feed::-webkit-scrollbar-track {
    background-color: #FBFBFB;
}
 
.feed::-webkit-scrollbar-thumb {
  background-color: rgb(226, 226, 226);
}

.titleholder {
    display: flex;
    position: absolute;
    top: 41px;
    z-index: 1000;
}

.title {
    background-color: #FBFBFB;
    border-bottom: 1px solid #D8E2E8;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    min-width: 350px;
    border: 1px solid #D8E2E8;
    border-top: 0;
    border-left: 0;
}

    .title p.name {
        padding: 2px 10px;
        display: inline-block;
        margin: 10px;
        color: white;
        border-radius: 5px;
    }

    .title:first-child .name {
        background-color: #68B1CD;
    }

    .title:nth-child(2) .name {
        background-color: #CDAA68;
    }

    .title:nth-child(3) .name {
        background-color: #CD68AF;
    }

    .title:nth-child(4) .name {
        background-color: #68CD90;
    }

    .title:nth-child(5) .name {
        background-color: #68B1CD;
    }



.tweet {
    padding: 13px;
    background-color: white;
    border-bottom: 1px solid #D8E2E8;
}

    .tweet .tweeet_title {
        display: flex;
        align-items: center;
    }

        .tweet .tweeet_title img {
            max-height: 23px;
            border-radius: 3px;
            margin-right: 5px;
        }

        .tweet .tweeet_title h2, .tweet .tweeet_title p {
            font-size: 13px;
            margin-bottom: 0;
        }

        .tweet .tweeet_title p {
            color: #9badbb;
            margin-left: 5px;
        }

            .tweet .tweeet_title p.time::before {
                display: inline-block;
                content: "";
                height: 3px;
                width: 3px;
                background-color: #9aadbb;
                border-radius: 40px;
                margin: 3px 6px 3px 2px;
            }

    .tweet .tweet_content {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tweet .tweet_details {
        display: flex;
        margin-top: 10px;
        display: none;
    }

        .tweet .tweet_details div img {
            height: 15px;
        }

        .tweet .tweet_details div {
            display: flex;
            align-items: center;
            margin: 0 15px 0 0;
        }

            .tweet .tweet_details div h2 {
                font-family: HelveticaNeue-Medium;
                font-size: 11px;
                color: #8899A6;
                letter-spacing: -0.2px;
                margin-bottom: 0;
                padding: 5px;
            }

.new_tweets {
    margin: 10px;
}

    .new_tweets h2, .change h2 {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        margin-top: 2px;
    }

    .new_tweets p, .change p {
        margin-bottom: 0;
        font-size: 11px;
        opacity: .7;
    }

.metrics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .metrics div {
        margin: 10px;
        text-align: center;
    }

.up h2 {
    color: #5e9422;
}

.down h2 {
    color: #cc3446;
}

.tweet {
    animation-name: tweetappear;
    animation-duration: 1.4s;
}

@keyframes tweetappear {
    0%   {
        opacity: 0;
        height: 0;
    }
    30%   {
        opacity: 0;
        height: initial;
        overflow: auto;
    }
    100% {
    opacity: 1;
    height: initial;
    overflow: auto;}
}
