@model TweetFlow.Portal.Model.AdminModel

<h2>Hello admin</h2>
<p>Current state:</p>
@if (Model != null)
{
    @switch (Model.State)
    {
        case TweetFlow.Stream.StreamState.Paused:
            {
                <span>Paused</span>
                break;
            }
        case TweetFlow.Stream.StreamState.Running:
            {
                <span>Running</span>
                break;
            }
        case TweetFlow.Stream.StreamState.Stopped:
            {
                <span>Stopped</span>
                break;
            }
    }
}
<a asp-action="StartStream" asp-controller="Admin">Start</a>